@font-face {font-family: "Arnold Regular";
 src: url("//db.onlinewebfonts.com/t/f796adbcb3e0463184ab45c5afc332ab.eot");
 src: url("//db.onlinewebfonts.com/t/f796adbcb3e0463184ab45c5afc332ab.eot?#iefix")
format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f796adbcb3e0463184ab45c5afc332ab.woff2")
format("woff2"), url("//db.onlinewebfonts.com/t/f796adbcb3e0463184ab45c5afc332ab.woff")
 format("woff"), url("//db.onlinewebfonts.com/t/f796adbcb3e0463184ab45c5afc332ab.ttf")
 format("truetype"), url("//db.onlinewebfonts.com/t/f796adbcb3e0463184ab45c5afc332ab.svg#Arnold Regular") format("svg"); }

*{
    font-family:Arnold Regular;
}


.topprof{
    display:flex;
    flex-direction:row;
}
.profile{
    height:90px;
    width:90px;
}
.stat{
    height:48px;
    width:48px;
}

.name{
    color:#fec92c;
}
.top{
    height:120px;
    width:120px;
    position:absolute;
    border-radius:50%;
    left:38%;
    top: -60px;
}

.top img{
    height:inherit;
    width:inherit;
}

.name{
    margin-top:70px;
}

.buttons{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.btn1{
    color:#ffff;
    background-color:#11cdef;
}

.btn2{
    color:#ffff;
    background-color:#172b4d;
}

.btn1:hover{
    color:#696969;
    transform:translateY(-5px);
}

.btn2:hover{
    color:#FFDEAD;
    transform:translateY(-5px);
}

.herocard{
    margin-top:40px;
    background-color:#FFFAF0;
    border-radius:10px;
}

.herobody{
    background-image:url(/images/herobck.png);
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    padding-bottom:190px;
}
.homebody{
    background-image:url(/images/bck1.png);
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    padding-bottom:400px;
    overflow:hidden;
}

.herorow{
    background-image:url(/images/bck1.png);
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    padding-bottom:200px;
    overflow:hidden;
}
.squadrow{
    background-image:url(/images/bck2.png);
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    overflow:hidden;
    padding-bottom:400px;
}

.squad-form{
    background-image:url(/images/bck2.png);
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    overflow:hidden;
    padding-bottom:400px;
}

.forms{
    background-color:#F5F5F5;
    border-radius:10px;
    padding:30px;
}