@font-face {font-family: "Arnold Regular";
 src: url("//db.onlinewebfonts.com/t/f796adbcb3e0463184ab45c5afc332ab.eot");
 src: url("//db.onlinewebfonts.com/t/f796adbcb3e0463184ab45c5afc332ab.eot?#iefix")
format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f796adbcb3e0463184ab45c5afc332ab.woff2")
format("woff2"), url("//db.onlinewebfonts.com/t/f796adbcb3e0463184ab45c5afc332ab.woff")
 format("woff"), url("//db.onlinewebfonts.com/t/f796adbcb3e0463184ab45c5afc332ab.ttf")
 format("truetype"), url("//db.onlinewebfonts.com/t/f796adbcb3e0463184ab45c5afc332ab.svg#Arnold Regular") format("svg"); }

*{
    font-family:Arnold Regular;
}
.stat{
    height:40px;
    width:40px;
}
.top{
    height:120px;
    width:120px;
    position:absolute;
    border-radius:50%;
    left:38%;
    top: -60px;
}

.top img{
    height:inherit;
    width:inherit;
}

.name{
    margin-top:70px;
}

.buttons{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.btn1{
    color:#ffff;
    background-color:#11cdef;
}

.btn2{
    color:#ffff;
    background-color:#172b4d;
}
.herocard{
    margin-top:100px;
    background-color:#FFFAF0;
    border-radius:10px;
}

.herobody{
    background-image:url(/images/herobck.png);
    background-size:cover;
    padding-bottom:190px;
}
