{{#partial "content"}}
        <h3>{{squad.name}}</h3>
        <h6>Heroes in this squad</h6>
        <ul>
        {{#each heroes}}
        <li>
                <p>{{name}}</p>
        {{/each}}
        </li>
        </ul>
{{/partial}}
{{> layout.hbs}}